{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.eu-gb.bluemix.net",
      "Org": "stephane.montri@fr.ibm.com",
      "Space": "DEMO"
    },
    "Name": "watson-vehicle-damage-analyzer",
    "Instrumentation": {
      "domain": "eu-gb.mybluemix.net"
    }
  },
  "Path": "manifest.yml",
  "Type": "Cloud Foundry"
}